
@{
    ViewBag.Title = "ThanhToanSuccess";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>ThankYou</h2>
<h2>Cảm ơn bạn vì đã mua hàng tại cửa hàng của chúng tôi</h2>
<p> Đơn hàng của bạn sẽ được giao tới trong vòng vài phút nữa.</p>
