
@{
    ViewBag.Title = "ChiTietKV";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/css/editcss.css">
}


<form action="~/KhuVuc/UpdateKV" method="post" enctype="multipart/form-data" class="add-form">
    Mã Khu Vực:<input type="text" name="id" value="@ViewBag.list[0][0]" /><br />
    Tên Khu Vực:<input type="text" name="tenkv" value="@ViewBag.list[0][1]" /><br />
    <input type="submit" value="Sửa Khu Vực" />
</form>


