
@{
    ViewBag.Title = "QLKhuVuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/css/editcss.css">
}


<body>
    <table class="custom-table">
        <tr class="table-header">
            <td>Id</td>
            <td>Khu Vực</td>
            <td>Thao tác</td>
        </tr>
        @foreach (var a in ViewBag.list)
        {
            <tr>
                <td>@a[0]</td>
                <td>@a[1]</td>
                <td class="table-actions">
                    <a href="/KhuVuc/XoaKV?id=@a[0]">Xóa</a>
                    <a href="/KhuVuc/ChiTietKV?id=@a[0]">Sửa</a>
                </td>
            </tr>
        }
    </table>
    <form action="~/KhuVuc/ThemKV" method="post" class="add-form">
        Khu Vực:<input type="text" name="tenkv" /><br />
        <input type="submit" value="Thêm Khu Vực" />
    </form>
</body>
