
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Admin</h2>
<body>
    @{
        System.Collections.ArrayList a = ((System.Collections.ArrayList)Session["taikhoan"]);
    }
    <h1>Xin chào @a[1]</h1>

</body>

