
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Admin</h2>
<body>
    @*<a href="/NguyenLieu/QLNguyenLieu">Quản lý nguyên liệu</a><br />
    <a href="/TaiKhoan/QLTaiKhoan">Quản lý tài khoản</a><br />
    <a href="/MonAn/QLMonAn">Quản lý món ăn</a><br />*@
</body>

