@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            text-align: center;
        }

        form {
            width: 300px;
            margin: 0 auto;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

            input[type="submit"]:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <form action="~/home/XulyDangNhap" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="bachyen" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="bachyen123" required><br>
        <input type="submit" value="Đăng nhập">
    </form>
</body>
</html>