<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nhân Viên - Quản lý cửa hàng thức ăn nhanh</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/admincss.css">
</head>
<body>
    <header>
        <h1>Nhân viên - Quản lý cửa hàng thức ăn nhanh</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index">Trang chủ</a></li>
        </ul>
    </nav>
    <main>
        <aside>
            <ul>
                <li><a href="/HoaDon/IndexStaff" class="button">Quản lý Hóa Đơn</a></li>
            </ul>
        </aside>
        <section>
            @RenderBody() <!-- Nội dung chính của trang web sẽ được hiển thị ở đây -->
        </section>
    </main>
    <footer>
        <p>Bản quyền &copy; 2023 Cửa hàng thức ăn nhanh</p>
    </footer>
</body>
</html>