<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/trangchucss.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/Home/Index">Trang chủ</a></li>
                <li><a href="~/Home/LienHe">Liên hệ</a></li>
            </ul>
        </nav>

        <main>
            @RenderBody()
        </main>

        <footer>
            <div class="footer-container">
                <div class="contact-info">
                    <h3>Liên hệ</h3>
                    <p>Hotline: 0123456789</p>
                    <p>Email: info@example.com</p>
                </div>
                <div class="social-media">
                    <h3>Mạng xã hội</h3>
                    <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>
            <p>Bản quyền &copy; 2023 - Web bán thức ăn nhanh</p>
        </footer>


    </div>
</body>


</html>